$buttonBackground: #420068
$hoverButtonColor: lighten($buttonBackground, 15)

.auth-page

    &_auth-btn
        margin: 24px auto 0
        width: 100%
        padding: 12px 32px
        border: 1px solid $buttonBackground
        color: $buttonBackground
        font-size: 16px
        text-align: center
        border-radius: 12px
        transition: .15s
        height: 32px

        &:hover
            border: 1px solid $hoverButtonColor
            color: $hoverButtonColor